<script context="module">
  export async function preload({ params, query }) {
    // the `slug` parameter is available because
    // this file is called [slug].svelte
    const res = await this.fetch(`${params.slug}.json`);
    const data = await res.json();

    if (res.status === 200) {
      return { formation: data };
    }

    this.error(res.status, data.message);
  }
</script>

<script>
  export let formation;
</script>

<style lang="scss">
  @import "./style/formation.scss";
  /*
		By default, CSS is locally scoped to the component,
		and any unused styles are dead-code-eliminated.
		In this page, Svelte can't know which elements are
		going to appear inside the formation block,
		so we have to use the :global(...) modifier to target
		all elements inside .formation
	*/
</style>

<svelte:head>
  <title>Formation {formation.title}</title>
  <meta name="description" content={formation.meta.description} />
  <meta name="keywords" content={formation.meta.keywords} />
  <meta property="og:title" content="Formation {formation.title}" />
  <meta
    property="og:image"
    content="https://formation.benextcompany.com/{formation.slug}/opengraph.jpg" />
  <meta property="og:description" content={formation.meta.description} />
  <meta
    property="og:url"
    content="https://formation.benextcompany.com/{formation.slug}/" />
</svelte:head>

{#if formation}
  <div class="course">
    <section data-menu="Informations" class="section">

      <figure>
        <img src="{formation.slug}/intro.jpg" alt="Formations benext" />
        <figcaption>{@html formation.imageauthor}</figcaption>
      </figure>

      <div>
        <h1>Formation {formation.title}</h1>
        <p>
          {@html formation.description}
        </p>

        <h3>Informations</h3>
        <div>
          {#if formation.nextsession}
            <p>{formation.nextsession.label}</p>
            <p>Dans nos locaux, 4 rue du Bouloi 75001 Paris</p>
          {/if}
          {#if formation.nextonlinesession}
            <p>{formation.nextonlinesession.label}</p>
            <p>A distance</p>
          {/if}
          {#if !formation.nextsession && !formation.nextonlinesession}
            <p>Aucune date prévue. Contactez nous !</p>
          {/if}
          {#if formation.duration > 1}
            <p>Durée : {formation.duration} jours</p>
          {:else}
            <p>Durée : {formation.duration} jour</p>
          {/if}
          <p>De 8h30 à 17h30</p>
          <p>Tarif : {formation.price}</p>
        </div>

        {#if formation.forwho}
          <div>
            <h3>A qui s'adresse cette formation ?</h3>
            <p>
              {@html formation.forwho.description}
            </p>
            {#if formation.forwho.personas}
              <div class="who">
                {#each formation.forwho.personas as persona}
                  <div>
                    <h4>{@html persona.name}</h4>
                    <p>{@html persona.description}</p>
                  </div>
                {/each}
              </div>
            {/if}
          </div>
        {/if}
        {#if formation.specialformation}
            <a
              href="{formation.mail}"
              target="_blank"
              rel="noopener noreferrer">
              <button>S'inscrire à la prochaine session {formation.specialformation}</button>
            </a>
          {:else}
            <a
              href="mailto:formation@benextcompany.com?subject={formation.mail}"
              target="_blank"
              rel="noopener noreferrer">
              <button>S'inscrire à la prochaine session</button>
            </a>
          {/if}

      </div>
    </section>

    {#if formation.learnings}
      <section data-menu="Apprentissages" class="section">
        <h2>Apprentissages</h2>
        <div>
          <h3>Ce que vous apprendrez</h3>
          {#each formation.learnings as learning}
            <p>{@html learning}</p>
          {/each}
        </div>
      </section>
    {/if}

    {#if formation.how}
      <section data-menu="Approche" class="section">
        <h2>Notre approche</h2>
        <div>
          <p>
            {@html formation.how.description}
          </p>
          <h3>Cette formation est</h3>
          <p>
            {@html formation.how.block1}
          </p>
          <p>
            {@html formation.how.block2}
          </p>
          <h3>Nous proposons une double approche</h3>
          <p>
            {@html formation.how.block3}
          </p>
          <p>
            {@html formation.how.block4}
          </p>
        </div>

      </section>
    {/if}

    {#if formation.sessions}
      <section data-menu="Sessions" class="section">
        <h2>Prochaines sessions</h2>
        <div>
          <h3>Dans nos locaux</h3>
          {#if formation.sessions.length !== 0}
            {#each formation.sessions as session}
              <p class="sessions__date">{session.label}</p>
            {/each}
          {:else}
            <p>Aucune date prévue. Contactez-nous!</p>
          {/if}
          {#if formation.onlinesessions}
            <h3>A distance</h3>
            {#if formation.onlinesessions.length !== 0}
              {#each formation.onlinesessions as onlinesession}
                <p>{onlinesession.label}</p>
              {/each}
            {:else}
              <p>Aucune date prévue. Contactez-nous!</p>
            {/if}
          {/if}
          {#if formation.onlinesessions}
            <p>
              Les sessions à distance se font par séance d'une demi journée,
              soit le matin, soit l'après-midi.
            </p>
          {/if}
          {#if formation.specialformation}
              <a
                href="{formation.mail}"
                target="_blank"
                rel="noopener noreferrer">
                <button>S'inscrire à la prochaine session {formation.specialformation}</button>
              </a>
            {:else}
              <a
                href="mailto:formation@benextcompany.com?subject={formation.mail}"
                target="_blank"
                rel="noopener noreferrer">
                <button>S'inscrire à la prochaine session</button>
              </a>
            {/if}
        </div>
      </section>
    {/if}

    {#if formation.programbydays}
      <section data-menu="Programme" class="agenda">
        <h2>Programme</h2>

        {#each formation.programbydays as day}
          <div class="row">
            <h3 class="title">{day.title}</h3>
            {#if day.morning.image}
              <div class="morningimage">
                <img
                  src="./{formation.slug}/{day.morning.image}"
                  alt="Formation {formation.name}" />
              </div>
            {/if}
            <div class="morningtext">
              <h4>{day.morning.title}</h4>
              <p>
                {@html day.morning.description}
              </p>
            </div>
            {#if day.afternoon.image}
              <div class="afternoonimage">
                <img
                  src="./{formation.slug}/{day.afternoon.image}"
                  alt="Formation {formation.name}" />
              </div>
            {/if}
            <div class="afternoontext">
              <h4>{day.afternoon.title}</h4>
              <p>
                {@html day.afternoon.description}
              </p>
            </div>
          </div>
        {/each}
        <div class="section">
          {#if formation.specialformation}
            <a
              href="{formation.mail}"
              target="_blank"
              rel="noopener noreferrer">
              <button>S'inscrire maintenant {formation.specialformation}</button>
            </a>
          {:else}
            <a
              href="mailto:formation@benextcompany.com?subject={formation.mail}"
              target="_blank"
              rel="noopener noreferrer"
              class="col2">
              <button>S'inscrire maintenant</button>
            </a>
          {/if}

        </div>

      </section>
    {/if}

    {#if formation.testimonials}
      <section data-menu="Témoignages" class="section feedback">
        <h2>Témoignages</h2>
        <div>
          <h3>Ce qu'en disent nos participants</h3>
          {#each formation.testimonials as testimonial}
            <p>
              {testimonial.comment} -
              <strong>{testimonial.name}</strong>
              - {testimonial.company}
            </p>
          {/each}
          <a
            href="mailto:formation@benextcompany.com?subject={formation.mail}"
            target="_blank"
            rel="noopener noreferrer">
            <button>D'autres questions ?</button>
          </a>
        </div>
      </section>
    {/if}

  </div>
{/if}
