<script>
	import Nav from '../components/Nav.svelte';
	import Footer from '../components/Footer.svelte';
	import { afterUpdate } from 'svelte';

	let mainElt;
	let sections = [];

	afterUpdate(() => {
		sections = mainElt.getElementsByTagName('section');
	});
</script>

<style lang="scss" global>
	@import "./style/variables";
	@import "./style/reset";
	@import "./style/fonts";
	@import "./style/base";
	main {
		padding-top: 10vw;

		section:first-child {
			padding-top: 1.5rem;
		}

		 @media screen and (max-width: 768px) {
			 		padding-top: 15vw;
		 }
	}
</style>

<Nav {sections}/>

<main bind:this={mainElt}>
	<slot></slot>
</main>

<Footer/>