<script context="module">
  export function preload({ params, query }) {
    return this.fetch(`index.json`)
      .then(r => r.json())
      .then(data => {
        return { data };
      });
  }
</script>

<script>
  export let data;
  const formationsByCategories = data.formationsByCategories;
  const sessions = data.sessions;
</script>

<style lang="scss">
  @import "./style/index.scss";
</style>


<svelte:head>
  <title>Formation par benext</title>
  <meta name="author" content="benext" />
  <meta
    name="description"
    content="Formation agile, produit et tech/craft par benext" />
  <meta
    name="keywords"
    content="formations, formation, agile, produit, product owner, scrum master,
    design sprint, craft" />
  <meta property="og:title" content="Formation par benext" />
  <meta
    property="og:image"
    content="https://gitlab.com/benextcompany/formation.gitlab.io/-/raw/master/static/opengraph.jpg" />
  <meta
    property="og:description"
    content="Formation agile, produit et tech/craft par benext" />
  <meta property="og:url" content="https://formation.benextcompany.com/" />
</svelte:head>

<section data-menu="Approche" class="section">

  <figure>
    <img src="CMuangkeaw.jpg" alt="Formations benext" />
    <figcaption>C Muangkeaw</figcaption>
  </figure>

  <div>
    <h1>Découvrez toutes nos formations</h1>
    <h2>Notre approche</h2>

    <p>
      Le monde dans lequel nous vivons est devenu complexe, incertain et ambigu.
      Les entreprises rencontrent des situations à la fois mouvantes et parfois
      même inattendues. Si cela n’était pas suffisant, ajoutons que ce monde
      change vite, de plus en plus vite. Pour ces entreprises, le salut vient
      dans leur faculté à s’adapter pour survivre, à innover pour se démarquer
      mais aussi à prendre les meilleures décisions au moment où cela est
      nécessaire. Alors comment s’y prendre ? quels sont les outils? quelle est
      LA méthode? Nous pensons qu’
      <strong>il n’existe pas UNE méthode</strong>
      , immuable qui s’applique de la même façon partout : ni entre les
      entreprises ni même au sein des différents services d’une entreprise. Il
      est évidemment pertinent de s’inspirer d’un modèle, mais pas de le
      répliquer, gare au cargo cult. Chaque culture est différente, chaque
      métier est différent, chaque équipe est différente. Pour autant, comme
      toute discipline (artistique, sportive, …), il y a un certain nombre de
      <strong>fondamentaux à maîtriser</strong>
      et des réflexes à acquérir.
      <br />
      <br />
      C’est ce que propose nos formations : des fondamentaux à maîtriser et des
      réflexes à acquérir à travers nos ateliers qui favorisent l’acquisition
      des connaissances par la répétition du geste et l’invitation à une riche
      conversation entre pairs.
    </p>
  </div>

</section>

<section data-menu="Agenda">
  <h2>L'agenda</h2>
  {#each sessions as session}
    <div class="agenda">
      <span class="center">{session.label}</span>
      <a class="center" rel="prefetch" href={session.slug}>{session.title}</a>
      <span class="center">
        {#if session.isOnline}A distance{:else}Dans nos locaux{/if}
      </span>
    </div>
  {/each}
</section>

<section data-menu="Catalogue">
  <h2>Le catalogue</h2>
  {#each formationsByCategories as [category, formations]}
    <div class="section">
      <h3>{category}</h3>
      <div>
        {#each formations as formation}
        <div>
          <!-- we're using the non-standard `rel=prefetch` attribute to
            tell Sapper to load the data for the page as soon as
            the user hovers over the link or taps it, instead of
            waiting for the 'click' event -->
          <h3>
            <a rel="prefetch" href={formation.slug}>
              {formation.title}
            </a>
          </h3>
          <p>
            {@html formation.description}
          </p>
        </div>
        {/each}
      </div>
    </div>
  {:else}
    <!-- this block renders when categories.length === 0 -->
    <p>loading...</p>
  {/each}
</section>

<section data-menu="Formateurs" class="section">
  <h2>Nos formateurs</h2>
  <div>
    <h3><a href="https://coaching.benextcompany.com/coachs/fleur-saillofest/" target="_blank">Fleur Saillofest</a></h3>
    <h3><a href="https://coaching.benextcompany.com/coachs/jonathan-litty/" target="_blank">Jonathan Litty</a></h3>
    <h3><a href="https://coaching.benextcompany.com/coachs/laurence-wolff/" target="_blank">Laurence Wolff</a></h3>
    <h3><a href="https://coaching.benextcompany.com/coachs/loic-le-molgat/" target="_blank">Loic Le Molgat</a></h3>
    <h3><a href="https://coaching.benextcompany.com/coachs/nils-lesieur/" target="_blank">Nils Lesieur</a></h3>
    <h3><a href="https://coaching.benextcompany.com/coachs/pauline-garric/" target="_blank">Pauline Garric</a></h3>
    <h3><a href="https://coaching.benextcompany.com/coachs/tiphanie-vinet/" target="_blank">Tiphanie Vinet</a></h3>
    <h3><a href="https://coaching.benextcompany.com/coachs/yannick-grenzinger/" target="_blank">Yannick Grezinger</a></h3>
  </div>
  
</section>
