@import "./variables";

* {
  font-family: "Grotesk Light", Helvetica, Arial, sans-serif;
  color: $black;
  font-weight: 300;
  text-size-adjust: 100%;
}

a {
  display: inline-block;
}

p {
  line-height: 1.8em;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Grotesk Light", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1em;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 2rem 0 1rem 0;
  line-height: 1.2em;

  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 2.5rem 0;
}

h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

em {
  font-family: "Grotesk Light Italic", Helvetica, Arial, sans-serif;
}

strong {
  font-family: "Grotesk Medium", Helvetica, Arial, sans-serif;
}

button {
  border: 1px solid $black;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 0.5em 1.5em;
  margin: 1rem 0;
}
button:hover {
  color: $grey;
  border: 1px solid $grey;

}

main {
  padding: 3vw $margin;
}

main a, footer a {
  text-decoration: underline;
}

main a:hover, footer a:hover {
  color: $grey;
  text-decoration: none;
}

section {
  border-bottom: 1px solid $grey;
  padding-bottom: 3vw;
}

figcaption {
  color: $grey;
}

