@font-face {
  font-family: "Grotesk Light";
  src: url("/fonts/SyndicatGrotesk/eot/SyndicatGrotesk-Light.eot");
  src:
  url("/fonts/SyndicatGrotesk/woff/SyndicatGrotesk-Light.woff") format("woff"),
  url("/fonts/SyndicatGrotesk/woff2/SyndicatGrotesk-Light.woff2") format("woff2");
  }
  
  @font-face {
  font-family: "Grotesk Light Italic";
  src: url("/fonts/SyndicatGrotesk/eot/SyndicatGrotesk-LightItalic.eot");
  src:
  url("/fonts/SyndicatGrotesk/woff/SyndicatGrotesk-LightItalic.woff") format("woff"),
  url("/fonts/SyndicatGrotesk/woff2/SyndicatGrotesk-LightItalic.woff2") format("woff2");
  }
  
  @font-face {
  font-family: "Grotesk Regular";
  src: url("css/fonts/eot/SyndicatGrotesk-Regular.eot");
  src:
  url("/fonts/SyndicatGrotesk/woff/SyndicatGrotesk-Regular.woff") format("woff"),
  url("/fonts/SyndicatGrotesk/woff2/SyndicatGrotesk-Regular.woff2") format("woff2");
  }
  
  @font-face {
  font-family: "Grotesk Regular Italic";
  src: url("/fonts/SyndicatGrotesk/eot/SyndicatGrotesk-RegularItalic.eot");
  src:
  url("/fonts/SyndicatGrotesk/woff/SyndicatGrotesk-RegularItalic.woff") format("woff"),
  url("/fonts/SyndicatGrotesk/woff2/SyndicatGrotesk-RegularItalic.woff2") format("woff2");
  }

  @font-face {
    font-family: "Grotesk Medium";
    src: url("css/fonts/eot/SyndicatGrotesk-Medium.eot");
    src:
    url("/fonts/SyndicatGrotesk/woff/SyndicatGrotesk-Medium.woff") format("woff"),
    url("/fonts/SyndicatGrotesk/woff2/SyndicatGrotesk-Medium.woff2") format("woff2");
    }

    @font-face {
      font-family: "Grotesk Bold";
      src: url("css/fonts/eot/SyndicatGrotesk-Bold.eot");
      src:
      url("/fonts/SyndicatGrotesk/woff/SyndicatGrotesk-Bold.woff") format("woff"),
      url("/fonts/SyndicatGrotesk/woff2/SyndicatGrotesk-Bold.woff2") format("woff2");
      }
    
    
