@import "./variables";

.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: $margin;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: 768px) {
    .col2 {
      grid-column: 2;
    }
  }
  
}

/* Sections specific styles*/
.who {
  margin-top: 1rem;
}


.agenda {

  .row:first-of-type {
    .title {
      margin-top: 0;
    } 
  }

  .row {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-gap: $margin;
    & {
      grid-template-columns: 1fr 2fr;
      grid-template-areas:  ". title"
                            "morningimage morningtext"
                            "afternoonimage afternoontext";
    }

    @media screen and (max-width: 768px) {
      display: block;
    }

  }

  .title {
    grid-area: title;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  .morningtext {
    grid-area: morningtext;
  }
  
  .morningimage {
    grid-area: morningimage;
  }

  .afternoontext {
    grid-area: afternoontext;
  }
  
  .afternoonimage {
    grid-area: afternoonimage;
  }
}

.feedback {
  p {
    margin-top: 1rem;;
  }
}