@import "./variables";


.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: $margin;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.agenda {
  display: grid;
  grid-auto-flow: row;
  grid-gap: $margin;
  padding: 5px 0;
  @media screen and (min-width: 768px) {
    grid-template-columns: 2fr 2fr 1fr;
  }
  line-height: 20px;
}

.center {
  text-align: center;
}