
<style lang="scss">
  @import "../style/variables";
  footer {
    display: flex;
    justify-content: space-between;
    padding: $margin;
    margin-bottom: 2vw;
    text-transform: uppercase;

    .links span, .links a {
      padding-right: 1vw;
    }

     @media screen and (max-width: 768px) {
      display: block;
      .links {
        padding-top: 1rem;
      }
    }
  }
</style>

<footer>
  <div>
    4, rue du Bouloi, 75001 PARIS <br>
    + 33 1 42 33 18 10
  </div>
  <div class="links">
    <span>Nous retrouver :</span> 
    <a href="https://www.benextcompany.com/" target="_blank">Site benext</a>
    <a href="https://www.linkedin.com/company/benext-france/" target="_blank">Linkedin</a>
    <a href="https://twitter.com/benextcompany" target="_blank">Twitter</a>
  </div>
</footer>
