<script>
	import { afterUpdate } from 'svelte';

  export let sections;
  let currentItem, navHeight, windowHeight, sectionsArray;

  afterUpdate(() => {
    sectionsArray = Array.from(sections);
    onScroll();
  });

  const onMenuClick = (section) => {
    currentItem = section.dataset.menu;
    window.scrollTo(0, section.offsetTop - navHeight);
  }

  const onScroll = () => {
    let currentSection = sectionsArray.find((section) => {
      const sectionTop = section.getBoundingClientRect().top;
      const sectionBottom = section.getBoundingClientRect().bottom;
      return ((navHeight - 10) < sectionTop && sectionTop < windowHeight);
    });
    if (currentSection) currentItem = currentSection.dataset.menu;
  }
</script>

<svelte:window on:scroll={onScroll} bind:innerHeight={windowHeight}/>

<style lang="scss">
  @import "../style/variables";
  nav {
    z-index: 999;
    position: fixed;
    width: 100%;
    background-color: white;

    .line {
      margin: 0 1rem;
      border-bottom: 1px solid $grey;
    }
    .header {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      text-transform: uppercase;

      span {
        font-size: 1vw;
      }
    }
    .logo {
      font-family: "Grotesk Regular", Helvetica, Arial, sans-serif;
      font-size: 4vw;
      padding: 0.5rem 0;
    }

    .value {
      color: $grey;
    }

    @media screen and (max-width: 768px) {
      .value {
        display: none;
      }
      .logo {
        font-size: 5vw;
      }
      .header span {
        font-size: 2vw;
      }
    }
    
    .menu {
      span {
        display: inline-block;
        cursor: pointer;
        color: $grey;
        margin-right: 20px;
        font-size: 1.5vw;
        padding: 1vw 0;
        @media screen and (max-width: 768px) {
          font-size: 2vw;
        }
      }
      span.selected {
        color: $black;
        font-family: "Grotesk Regular", Helvetica, Arial, sans-serif;
      }
    }
    
  }
</style>

<nav bind:clientHeight={navHeight}>
  <div class="header line">
    <a class="logo" href="/">
      La formation <span>by benext</span> 
    </a>
    <span class="value">Humilité</span>
    <span class="value">Recherche d'excellence</span>
    <span class="value">No bullshit</span>
    <span class="value">Fun</span>
  </div>
  <div class="menu line">
  {#each sections as section} 
    <span class:selected="{currentItem === section.dataset.menu}" on:click="{onMenuClick(section)}">{section.dataset.menu}</span>
  {/each}
  </div>
  
</nav>
